@import url("/src/variables.css");

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 33.3%));
  place-content: center;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}

.menu-item-card {
  flex-basis: 300px;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 15px;
}
